.user-show-page__side
  %h3.user-show-page__side__setting-top
    個人情報設定
  %ul.user-show-page__side__setting-list
    %li
      =link_to user_path(current_user) ,class:"user-show-page__side__setting-list__item" do
        プロフィール
    %li
      =link_to cards_path ,class:"user-show-page__side__setting-list__item" do
        支払い方法
    %li
      =link_to logout_user_path(current_user) ,class:"user-show-page__side__setting-list__item" do
        ログアウト

   