=render "items/logo-header"
.registration__wrap
  %p 新規会員登録
  .registration__box
    = link_to 'Facebookで登録', user_facebook_omniauth_authorize_path, method: :post, class: "facebook"
    = link_to 'Googleで登録', user_google_oauth2_omniauth_authorize_path, method: :post, class: "google"
    = link_to 'メールアドレスで登録', new_user_registration_path, class: "email"
=render "items/footer"