.search-item__content
  = link_to image_tag(item.images[0].image_url, class:"img" ), item_path(item)
  -if item.buyer_id.present?
    .photo-line-li__sold
      .photo-line-li__sold__inner SOLD
  .search-item__content__body
    .search-item__content__body__title
      #{item.title}
    .search-item__content__body__price
      #{converting_to_jpy(item.price)}
      %span (税込)
    .search-item__content__body__favorite
      %i.fas.fa-star
      0