*{
   box-sizing: border-box;
}

.logo-box{
   height: 128px;
   line-height: 128px;
   text-align: center;
}


.back{
   height: 1500px;
   width: 660px;
   margin: 0 auto;

   &__image-box{
      height: 295px;
      padding: 40px;
      position: relative;
      background-color: ghostwhite;
      &__flex{
         display: flex;
        &__text{
           height: 19px;
           font-size: 14px;
           font-weight: 600px;
         //   line-height: 1.4em;
        }
        &__label{
           height: 16px;
           color: #fff;
           font-size: 12px;
           padding: 0 4px;
           margin-left: 8px;
           background-color: rgb(255, 2, 17);
        }
      }
      &__limit{
         margin-top: 16px;
         font-size: 14px;
      }
      &__new-image{
         height: 158px;
         padding: 0 4px;
         margin-top: 8px;
         &__input{
            height: 155px;
            background-color: #fff;
            &__icon{
               text-align: center;
               padding-top: 45px;
            }
            &__p{
               font-size: 12px;
               text-align: center;
            }
         }
      }
      &__errer{
         margin-top: 16px;
         font-size: 14px;
         color: #ff0021;
      }
   }




   &__product-name{
      height: 250px;
      background-color: cornflowerblue;
   }

   &__category-box{
      height: 250px;
      background-color: mediumaquamarine;
   }

   &__delivery-box{
      height: 250px;
      background-color: royalblue;
   }

   &__price-box{
      height: 250px;
      background-color: navy;
   }

   &__post-box{
      height: 250px;
      background-color: darkcyan;
   }
}

.footer{
   height: 150px;
   width: 300px;
   margin: 0 auto;
   background-color: yellowgreen;
}