@mixin p($number){
  font-size: $number;
  line-height: 1.4em;
}

@mixin l{
  height: 16px;
  color: #fff;
  padding: 0 4px;
  font-size: 12px;
  margin-left: 8px;
  background-color: rgb(255, 2, 17);
}

@mixin clearfix() {
  &:after {
    content: '';
    clear: both;
    display: block;
  }
}

*{
  box-sizing: border-box;
}


.logo-box{
  height: 128px;
  line-height: 128px;
  text-align: center;
}


.back{
  width: 660px;
  margin: 0 auto;
  

  &__image-box{
    height: 295px;
    padding: 40px;
    border-bottom: 1px solid #ccc;
    background-color: white;
    &__flex{
      display: flex;
      &__text{
        @include p(14px);
      }
      &__label{
        @include l;
      }
    }
    &__limit{
      margin-top: 16px;
      font-size: 14px;
    }
    &__new-image{
      height: 158px;
      padding: 0 4px;
      margin-top: 8px;
      position: relative;
      &__input{
        height: 155px;
        background-color: ghostwhite;
        &__p{
          font-size: 12px;
          padding-top: 90px;
          text-align: center;
        }
      }
    }
    &__errer{
      margin-top: 16px;
      font-size: 14px;
      color: #ff0021;
    }
  }


  &__product-name{
    height: 376px;
    padding: 40px;
    border-bottom: 1px solid #ccc;
    background-color: white;
    &__flex{
      display: flex;
      &__text{
        height: 19px;
        @include p(14px);
      }
      &__label{
        @include l;
      }
    }
    &__title{
      height: 48px;
      margin-top: 16px;
      input{
        height: 48px;
        width: 100%;
        overflow: visible;
        font-size: 15px;
        padding: 0 16px;
        outline: none;
        background-color:  #fff;
      }
    }
    &__Introduction{
      height: 221px;
      margin-top: 32px;
      &__frame{
        height: 19px;
        display: flex;
        &__text{
          font-size: 14px;
          line-height: 1.4em;
        }
        &__label{
          @include l;
        }
   
        &__content{

          input{
            height: 126px;
            width: 100%;
            font-size: 15px;
            padding: 0 16px;
            outline: none;
            margin-top: 16px;
          }
        }
      }
      &__text-limit{
        height: 16px;
        margin-top: 16px;
        &__math{
          font-size: 10px;
          float: right;
        }
      }
    }
  }


  &__details-box{
    height: 365px;
    padding: 40px;
    background-color: white;
    border-bottom: 1px solid #ccc;
    &__title{
      height: 19px;
      font-size: 14px;
      font-weight: 600px;
      line-height: 1.4em;
    }
    &__flex{
      height: 19px;
      margin-top: 32px;
      display: flex;
      &__text{
        @include p(14px);
        height: 115px;
      }
      &__label{
        @include l;
      }
      &__frame{
        width: 100%;
        height: 48px;
        margin-top: 16px;
        &__form{
          height: 48px;
        }
      }
    }
    select{
      height: 48px;
      width: 100%;
      outline: none;
      margin-top: 16px;
    }
    &__status{
      height: 118px;
      margin-top: 32px;
      &__flex{
        display: flex;
        &__text{
          @include p(14px);
        }
        &__label{
          @include l;
        }
        &__frame{
          width: 100%;
          height: 48px;
          margin-top: 16px;
          &__form{
            height: 48px;
          }
        }
      }
    }
  }


  &__delivery-box{
    height: 446px;
    padding: 40px;
    background-color: white;
    border-bottom: 1px solid #ccc;
    &__title{
      height: 19px;
      font-size: 14px;
      font-weight: 600px;
      line-height: 1.4em;
    }
    &__flex{
      height: 19px;
      margin-top: 32px;
      display: flex;
      &__text{
        @include p(14px);
        height: 115px;
      }
      &__label{
        @include l;
      }
      &__frame{
        width: 100%;
        height: 48px;
        margin-top: 16px;
        &__form{
          height: 48px;
        }
      }
    }
    select{
      height: 48px;
      width: 100%;
      outline: none;
      margin-top: 16px;
    }
    &__price{
      height: 118px;
      margin-top: 32px;
      &__flex{
        display: flex;
        &__text{
          @include p(14px);
        }
        &__label{
          @include l;
        }
        &__frame{
          width: 100%;
          height: 48px;
          margin-top: 16px;
          &__form{
            height: 48px;
          }
        }
      }
    }
    &__days{
      height: 118px;
      &__flex{
        display: flex;
        &__text{
          @include p(14px);
        }
        &__label{
          @include l;
        }
        &__frame{
          width: 100%;
          height: 48px;
          margin-top: 16px;
          &__form{
            height: 48px;
          }
        }
      }
    }
  }
  

  &__exhibition-box{
    height: 560px;
    padding: 40px;
    background-color: white;
    border-bottom: 1px solid #ccc;
    &__price{
      margin-bottom: 24px;
      p{
        @include p(14px);
      }
    }
    &__profit{
      height: 187px;
      &__sale{
        display: flex;
        height: 46px;
        position: relative;
        align-items: center;
        margin-bottom: 12px;
        display: flex;
        &__text{
          @include p(14px);
        }
        i{
          float: right;
        }
        &__label{
          @include l;
          background-color: rgb(255, 2, 17);
        }
        &__box{
          position: absolute;
          right: 0;
          span{
            font-size: 8px;
          }
          input{
            height: 46px;
            border-radius: 4px;
            font-size: 10px;
            outline: none;
            text-align: right;
            padding: 0 20px;
            border: 1px solid #ccc;
          }
        }
      }
      &__commission{
        height: 46px;
        padding: 12px 0;
        &__text{
          p{
            @include p(14px);
          }
        }
      }
      &__hr{
        border: 1px solid #efefef;;
      }
      &__total{
        height: 46px;
        padding-top: 12px;
        margin-bottom: 40px;
        &__text{
          @include p(14px);
        }
      }
      &__flame{
        height: 164px;
        margin: 0 130px 32px;
        input.submit-btn{
          height: 46px;
          width: 100%;
          color: #fff;
          font-size: 15px;
          padding: 0 24px;
          border-radius: 4px;
          margin-bottom: 24px;
          background-color: #ea352d;
          border-color: transparent;
        }
        button.btn{
          height: 46px;
          width: 100%;
          color: #fff;
          font-size: 15px;
          padding: 0 24px;
          border-radius: 4px;
          margin-bottom: 24px;
          background-color: #ccc;
          border-color: transparent;
          color: #222;
        }
        a{
          height: 20px;
          color: #0095ee;
          font-size: 12px;
          display: flex;
          justify-content: center;
        }
      }
      p{
        font-size: 12px;
        line-height: 1.4em;
      }
    }
  }
}
