@mixin p($number){
  font-size: $number;
  line-height: 1.2em;
}

@mixin l{
  height: 16px;
  color: #fff;
  padding: 0 4px;
  font-size: 10px;
  margin-left: 8px;
  line-height: 1.8em;
  border-radius: 2px;
  background-color: rgb(255, 2, 17);
}

@mixin clearfix() {
  &:after {
    content: '';
    clear: both;
    display: block;
  }
}

.edit-main{
  width: 700px;
  margin: 0 auto;
  &__head{
    height: 96px;
    font-size: 22px;
    text-align: center;
    padding: 32px 16px;
    background-color: white;
    border-bottom: 1px solid #efefef;
    h2{
      color: #333;
      font-weight: bold;
      font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
    }
  }
  &__image-box{
    height: 310px;
    padding: 40px;
    border-bottom: 1px solid #efefef;
    background-color: white;
    &__flex{
      display: flex;
      &__text{
        @include p(14px);
      }
      &__label{
        @include l;
      }
    }
    &__maximum{
      font-size: 14px;
      margin: 16px 0;
    }
    &__frame{
      height: 155px;
      width:100%;
      padding: 4px;
      background-color: rgb(245, 245, 245);
      align-content: center;
      border-style: dashed;
      border-radius: 3px;
      border-width: 1px;
      border-color: rgb(204, 204, 204);
      &__image{
        img{
          flex-wrap: wrap;
          -webkit-box-pack: center;
          justify-content: center;
          border-image: initial;
          cursor: pointer;
        }
        &__input{
          display: none;
        }
        &__FileSelect{
          height: 155px;
          width: 100%;
          padding: 4px;
          background-color: rgb(245, 245, 245);
          border-style: dashed;
          border-radius: 3px;
          position: relative;
          align-content: center;
          border-width: 1px;
          border-color: rgb(204, 204, 204);
          transition: margin-right 2s;
          flex-wrap: wrap;
          -webkit-box-pack: center;
          justify-content: center;
          border-image: initial;
          cursor: pointer;
        }
      }
    }
    &__errer{
      margin-top: 16px;
      font-size: 14px;
      color: #ff0021;
      display: none;
    }
  }

    
  &__product-name{
    height: 355px;
    padding: 40px;
    background-color: white;
    border-bottom: 1px solid #efefef;
    &__flex{
      display: flex;
      &__text{
        height: 19px;
        @include p(14px);
      }
      &__label{
        @include l;
      }
    }
    &__title{
      height: 46px;
      width: 100%;
      outline: none;
      font-size: 16px;
      margin-top: 16px;
      border-radius: 3px;
      padding: 10px 16px 8px;
      border: 1px solid #ccc;
      background-color: #fff;
      input{
        height: 48px;
        width: 100%;
        overflow: visible;
        font-size: 15px;
        padding: 0 16px;
        background-color:  #fff;
      }
    }
    &__introduction{
      height: 200px;
      margin-top: 32px;
      &__frame{
        height: 19px;
        display: flex;
        &__text{
          font-size: 14px;
          line-height: 1.4em;
        }
        &__label{
          @include l;
        }
      &__content{
        height: 126px;
        width: 100%;
        font-size: 15px;
        padding: 13px 16px;
        outline: none;
        margin-top: 16px;
        border: 1px solid #ccc;
      }
     }
   }
  }
  
  &__details-box{
    height: 376px;
    padding: 40px;
    background-color: white;
    border-bottom: 1px solid #efefef;
    &__title{
      height: 19px;
      font-size: 14px;
      font-weight: 600px;
      line-height: 1.4em;
      float: left;
    }
    &__right{
      float: right;
      width: 365px;
    }
      &__flex{
        height: 19px;
        display: flex;
        &__text{
          @include p(14px);
          height: 115px;
        }
        &__label{
          @include l;
        }
      }
    select{
      height: 48px;
      width: 365px;
      outline: none;
      margin-top: 10px;
    }
    &__status{
      height: 118px;
      margin-top: 28px;
      &__flex{
        display: flex;
        &__text{
          @include p(14px);
        }
        &__label{
          @include l;
        }
      }
    }
  }


  &__delivery-box{
    height: 444px;
    padding: 40px;
    background-color: white;
    border-bottom: 1px solid #efefef;
    &__title{
      height: 19px;
      float: left;
      font-size: 14px;
      font-weight: 600px;
      line-height: 1.4em;
    }
    &__right{
      float: right;
      width: 365px;
      &__flex{
        height: 19px;
        display: flex;
        &__text{
          @include p(14px);
          height: 115px;
        }
        &__label{
          @include l;
        }
      }
      &__flexs{
        height: 19px;
        display: flex;
        margin-top: 20px;
        &__text{
          @include p(14px);
          height: 115px;
        }
        &__label{
          @include l;
        }
      }
      select{
        height: 48px;
        width: 365px;
        outline: none;
        margin-top: 10px;
      }
      &__flexed{
        display: flex;
        margin-top: 20px;
        &__text{
          @include p(14px);
        }
        &__label{
          @include l;
        }
      }
      &__flexz{
        margin-top: 20px;
        display: flex;
        &__text{
          @include p(14px);
        }
        &__label{
          @include l;
        }
        &__frame{
          width: 100%;
          height: 48px;
          margin-top: 16px;
          &__form{
            height: 48px;
          }
        }
      }
    }
  }
  

  &__exhibition-box{
    height: 430px;
    padding: 40px;
    background-color: white;
    border-bottom: 1px solid #efefef;
    &__price{
      p{
        @include p(14px);
        margin-bottom: 24px;
      }
    }
    &__profit{
      height: 187px;
      &__sale{
        display: flex;
        height: 46px;
        position: relative;
        align-items: center;
        margin-bottom: 12px;
        display: flex;
        &__text{
          @include p(14px);
        }
        i{
          float: right;
        }
        &__label{
          @include l;
          background-color: rgb(255, 2, 17);
        }
        &__box{
          position: absolute;
          right: 0;
          span{
            font-size: 8px;
          }
          input{
            height: 46px;
            width: 126px;
            border-radius: 4px;
            font-size: 10px;
            outline: none;
            text-align: right;
            padding: 0 15px;
            border: 1px solid #efefef;
          }
        }
      }
      &__commission{
        height: 46px;
        padding: 12px 0;
        &__text{
          p{
            @include p(14px);
          }
        }
      }
      &__hr{
        border: 1px solid #efefef;
      }
      &__total{
        height: 46px;
        padding-top: 12px;
        margin-bottom: 40px;
        &__text{
          @include p(14px);
        }
      }
      &__flame{
        height: 164px;
        input.submit-btn{
          height: 46px;
          width: 620px;
          color: #fff;
          font-size: 15px;
          padding: 0 24px;
          margin-bottom: 24px;
          background-color: #ea352d;
          border-color: transparent;
        }
        a.btn {
          height: 46px;
          width: 275px;
          color: #fff;
          font-size: 15px;
          padding: 0 24px;
          margin: 0 auto;
          line-height: 46px;
          display: flex;
          justify-content: center;
          background: #aaa;
          border: 1px solid #aaa;
        }
      }
    }
  }
}