@mixin displayflex($interval) {
  display: flex;
  justify-content: $interval;
}

@mixin titlebar() {
  font-size: 26px;
  font-weight: bold;
  position: relative;
  padding-bottom: 10px;
  &:after{
    content:"";
    width: 70px;
    height: 4px;
    background-color: #3CCACE;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}

@mixin center($px) {
  margin: $px auto;
  width: 100%;
  max-width: 1040px;
}

@mixin whiteshadow() {
  color: #ffffff;
  text-shadow:0px 0px 5px #808080;
}

.header{
  height: 100px;
  padding: 0 50px;
  background-color: white;
  &__main{
    @include center(0);
    &__upper-box{
      height: 50px;
      display: flex;
      padding-top: 10px;
      margin: 0 auto;
      .logo{
        display: block;
      }
      &__search-box{
        @include displayflex(space-between);
        margin-left: 50px;
        width: 100%;
        height: 40px;
        .search{
          width: 100%;
          padding-left: 13px;
        }
        .btn{
          padding: 5px;
          width: 40px;
          background-color: #3CCACE;
        }
      }
    }
    &__lower-box{
      @include displayflex(space-between);
      font-size: 16px;
      margin-top: 10px;
      &__left-list{
        .category-link{
          margin-right: 20px;
          color: black;
        }
      }
      .right-list{
        &__btn{
          color: black;
        }
      }
    }
  }
}

.main{
  &__banner{
    background-image: image-url('bg-mainVisual-pict_pc.jpg');
    background-size: cover;
    padding: 150px 50px;
    &__content{
      margin: 0 30px;
      align-items: center;
      @include whiteshadow();
      &--title{
        font-size: 60px;
      }
      &--text{
        font-size: 18px;
        margin-top: 15px;
      }
      .link-box{
        display: flex;
        margin-top: 50px;
        .app-link{
          width: 135px;
          height: 40px;
          margin: 10px 20px 0 0;
        }
      }
    }
  }
  &__introduction{
    text-align: center;
    padding: 60px 100px;
    &--title{
      @include titlebar();
    }
    &__list{ 
      @include displayflex(space-between);
      @include center(50px);
      &__box{
        width: 300px;
        display: block;
        &__pic{
          position: relative;
          img{
            width: 100%;
          }
          &--num{
            height: 50px;
            width: 50px;
            font-size: 30px;
            position: absolute;
            top: 0;
            left: 0;
            background-color: #3CCACE;
            color: #ffffff;
          }
        }
        &--word{
          font-size: 24px;
          display: block;
          margin: 20px auto;
          font-weight: bold;
          span{
            color: #3CCACE;
          }
        }
        &--text{
          font-size: 18px;
        }
      }
    }
  }
  &__sub-banner{
    background-image: image-url('bg-topMiddleDl-pict.jpg');
    background-size: cover;
    padding: 0 0 100px 100px;
    align-items: center;
    &__contents{
      margin: 0 auto;
      padding-top: 100px;
      @include whiteshadow();
      &--title{
        font-size: 27px;
        font-weight: bold;
      }
      &--text{
        margin-top: 15px;
        font-size: 18px;
      }
    }
    .link-box{
      display: flex;
      margin-top: 50px;
      .app-link{
        width: 135px;
        height: 40px;
        margin: 10px 20px 0 0;
      }
    }
  }
  &__feature{
    text-align: center;
    padding: 60px 20px;
    &--title{
      @include titlebar();
    }
    &__list{
      @include displayflex(space-around);
      @include center(50px);
      &__box{
        width: 300px;
        display: block;
        &__pic{
          position: relative;
          width: 200px;
          img{
            width: 100%;
          }
        }
        &--title{
          font-weight: bold;
          font-size: 18px;
        }
        &--text{
          margin-top: 15px;
          font-size: 18px;
        }
      }
    }
  }
  &__product-list{
    &--head{
      font-size: 28px;
      font-weight: bold;
      text-align: center;
    }
    &--title{
      font-size: 24px;
      font-weight: bold;
      color: #3CCACE;
      text-align: center;

    }
    &__contents{
      display: flex;
      margin: 50px auto;
      width: 100%;
      max-width: 1040px;
      &__content{
        width: 200px;
        margin: 28px auto;
        background-color: #ffffff;
        img{
          height: 150px;
          width: 200px;
          max-width: 100%;
          object-fit: cover;
        }
        &__body{
          margin: 10px;
          &--name{}
          &--text{
            span{
              font-size: 12px;
            }
          }
          &--favorite{
            text-align: right;
          }
        }
      }
    }
  }
}

.app-banner{
  background-image: image-url('bg-appBanner-pict.jpg');
  background-size: cover;
  padding: 100px 40px;
  &__box{
    text-align: center;
    @include whiteshadow();
    &--title{
      font-size: 24px;
    }
    &--text{
      font-size: 35px;
    }
    .link-box{
      margin-top: 50px;
      text-align: center;
      .app-link{
        width: 135px;
        height: 40px;
        margin: 0 20px 10px 0;
      }
    }
  }
}

.footer{
  background-color: #000000;
  padding: 60px 0;
  &__contents{
    @include displayflex(space-around);
    margin: 0 300px;
    &__content{
      text-align: center;
      &--head{
        font-size: 18px;
        font-weight: bold;
        display: block;
        text-decoration: none;
        color: #ffffff;
        margin-bottom: 20px;
      }
      &--link{
        font-size: 12px;
        display: block;
        text-decoration: none;
        color: #ffffff;
        margin-bottom: 15px;
      }
    }
  }
  &__logo{
    text-align: center;
    color: #ffffff;
    width: 100%;
    img{
      height: 50px;
    }
    p{
      font-size: 14px;
    }
  }
}

#display-btn{
  text-align: center;
  position: fixed;
  bottom: 50px;
  right: 50px;
  border:1px solid #888888;
  padding:20px 30px;
  background-color: #3CCACE;
  color: #ffffff;
  text-decoration: none;
  filter:alpha(opacity=85);
  text-shadow: 0 -1px 1px #FFF, -1px 0 1px #FFF, 1px 0 1px #aaa; 
  -webkit-box-shadow: 1px 1px 2px #E7E7E7;
  -moz-box-shadow: 1px 1px 2px #E7E7E7; 
  -webkit-border-radius: 3px; 
  -moz-border-radius: 3px;
 }
 