@mixin p($number){
  font-size: $number;
  line-height: 1.2em;
}

@mixin l{
  height: 16px;
  color: #fff;
  padding: 0 4px;
  font-size: 10px;
  margin-left: 8px;
  line-height: 1.8em;
  border-radius: 2px;
  background-color: rgb(255, 2, 17);
}

@mixin clearfix() {
  &:after {
    content: '';
    clear: both;
    display: block;
  }
}

.logo-box{
  height: 120px;
  line-height: 140px;
  text-align: center;
}


.new-main{
  width: 700px;
  margin: 0 auto;
  &__image-box{
    height: 311px;
    padding: 40px;
    border-bottom: 1px solid #efefef;
    background-color: white;
    &__flex{
      display: flex;
      &__text{
        @include p(14px);
      }
      &__label{
        @include l;
      }
    }
    &__maximum{
      font-size: 14px;
      margin: 16px 0;
    }
  }

    
  &__product-name{
    height: 365px;
    padding: 40px;
    background-color: white;
    &__flex{
      display: flex;
      &__text{
        height: 19px;
        @include p(14px);
      }
      &__label{
        @include l;
      }
    }
    &__title{
      height: 46px;
      width: 100%;
      outline: none;
      margin-top: 16px;
      padding: 0 16px;
      border-radius: 3px;
      border: 1px solid #ccc;
      input{
        height: 48px;
        width: 100%;
        overflow: visible;
        font-size: 15px;
        padding: 0 16px;
        outline: none;
        background-color:  #fff;
      }
    }
    &__introduction{
      height: 221px;
      margin-top: 32px;
      &__frame{
        height: 19px;
        display: flex;
        &__text{
          font-size: 14px;
          line-height: 1.4em;
        }
        &__label{
          @include l;
        }
      &__content{
        height: 137px;
        width: 100%;
        font-size: 15px;
        padding: 13px 16px;
        outline: none;
        margin-top: 16px;
        border-radius: 3px;
        border: 1px solid #ccc;
      }
      }
    }
  }

  
  &__details-box{
    padding: 40px;
    background-color: white;
    &__title{
      height: 19px;
      font-size: 14px;
      font-weight: 600px;
      line-height: 1.4em;
    }
    &__category-box{
      .listing-product-detail__category{
        margin-top: 32px;
        .listing-default__label{
          @include p(14px);
        }
        .listing-default--require{
          @include l;
          padding: 3px 3px;
        }
        .listing-select-wrapper{
          &__box{}
            &--select{}
        }
      }
    }
    select{
      height: 48px;
      width: 100%;
      outline: none;
      margin-top: 16px;
    }
    &__status{
      height: 118px;
      margin-top: 32px;
      &__flex{
        display: flex;
        &__text{
          @include p(14px);
        }
        &__label{
          @include l;
        }
      }
    }
  }


  &__delivery-box{
    height: 560px;
    padding: 40px;
    background-color: white;
    border-bottom: 1px solid #efefef;
    &__title{
      height: 19px;
      font-size: 14px;
      font-weight: 600px;
      line-height: 1.4em;
    }
    &__flex{
      height: 19px;
      margin-top: 32px;
      display: flex;
      &__text{
        @include p(14px);
        height: 115px;
      }
      &__label{
        @include l;
      }
    }
    select{
      height: 48px;
      width: 100%;
      outline: none;
      margin-top: 16px;
    }
    &__price{
      height: 118px;
      margin-top: 32px;
      &__flex{
        display: flex;
        &__text{
          @include p(14px);
        }
        &__label{
          @include l;
        }
      }
    }
    &__days{
      height: 118px;
      &__flex{
        display: flex;
        &__text{
          @include p(14px);
        }
        &__label{
          @include l;
        }
        &__frame{
          width: 100%;
          height: 48px;
          margin-top: 16px;
          &__form{
            height: 48px;
          }
        }
      }
    }
  }
  

  &__exhibition-box{
    height: 560px;
    padding: 40px;
    background-color: white;
    border-bottom: 1px solid #efefef;
    &__price{
      p{
        @include p(14px);
        margin-bottom: 24px;
      }
    }
    &__profit{
      height: 187px;
      &__sale{
        display: flex;
        height: 46px;
        position: relative;
        align-items: center;
        margin-bottom: 12px;
        display: flex;
        &__text{
          @include p(14px);
        }
        i{
          float: right;
        }
        &__label{
          @include l;
          background-color: rgb(255, 2, 17);
        }
        &__box{
          position: absolute;
          right: 0;
          span{
            font-size: 8px;
          }
          input{
            height: 46px;
            width: 250px;
            border-radius: 4px;
            font-size: 10px;
            outline: none;
            text-align: right;
            padding: 0 15px;
            border: 1px solid #efefef;
          }
        }
      }
      &__commission{
        height: 46px;
        padding: 12px 0;
        &__text{
          p{
            @include p(14px);
          }
        }
      }
      &__hr{
        border: 1px solid #efefef;
      }
      &__total{
        height: 46px;
        padding-top: 12px;
        margin-bottom: 40px;
        &__text{
          @include p(14px);
        }
      }
      &__flame{
        height: 164px;
        margin: 0 130px 32px;
        input.submit-btn{
          height: 46px;
          width: 100%;
          color: #fff;
          font-size: 15px;
          padding: 0 24px;
          border-radius: 4px;
          margin-bottom: 24px;
          background-color: #ea352d;
          border-color: transparent;
        }
        input.save-btn{
          height: 46px;
          width: 100%;
          color: #fff;
          line-height: 46px;
          font-size: 15px;
          padding: 0 24px;
          border-radius: 4px;
          margin-bottom: 24px;
          background: #aaa;
          border: 1px solid #aaa;
          color: #222;
        }
        a{
          height: 20px;
          color: #0095ee;
          font-size: 12px;
          display: flex;
          justify-content: center;
          border-color: transparent;
        }
      }
      p{
        font-size: 12px;
        line-height: 1.4em;
      }
    }
  }
}

//image投稿欄のCSS
.post__drop__box__container{
  display: block;
  margin: 16px auto 0;
  display: flex;
  flex-wrap: wrap;

  //プレビュー表示欄のCSS
  .prev-content {
    display: flex;
    .preview-box {
      height: 122px;
      width: 112px;
      margin: 0 15px 10px 0;
      .upper-box {
        height: 122px;
        width: 100%;
        img{
          height: 122px;
          width: 112px;
        }
      }
      .lower-box {
        display: flex;
        text-align: center;
        // 編集機能ボタン今後追加
        // .update-box {
        //   color: #00b0ff;
        //   width: 50%;
        //   height: 50px;
        //   line-height: 50px;
        //   border: 1px solid #eee;
        //   background: #f5f5f5;
        //   cursor: pointer;
        // }
        .delete-box {
          color: #00b0ff;
          width: 100%;
          height: 40px;
          line-height: 40px;
          border: 1px solid #eee;
          background: #f5f5f5;
          cursor: pointer;
        }
      }
    }
  }

  //投稿クリックエリアのCSS
  .label-content{
    margin-bottom: 10px;
    width: 620px;
    .label-box {
      display: block;
      border: 1px dashed #ccc;
      position: relative;
      background: #f5f5f5;
      width: 100%;
      height: 162px;
      cursor: pointer;
      &__text-visible {
        position: absolute;
        top: 50%;
        left: 16px;
        right: 16px;
        text-align: center;
        font-size: 14px;
        line-height: 1.5;
        -webkit-transform: translate(0, -50%);
        transform: translate(0, -50%);
        pointer-events: none;
        white-space: pre-wrap;
        word-wrap: break-word;
      }
    }
  }

  //file_fieldのcss
  .hidden-content {
    .hidden-field {
      display: none;
    }
    .hidden-checkbox {
      display: none;
    }
  }
}