@mixin showBtn($color) {
  display: inline-block;
  height: 50px;
  width: 620px;
  background-color: $color;
  color: white;
  text-align: center;
  line-height: 50px;
  text-decoration: none;
  margin: 10px 0;
  cursor: pointer;
}

.show-main{
  padding: 0 40px;
  margin: 20px auto;
  font-family:"Source Sane Pro",Helvetica,Arial,"遊ゴシック体","YuGothic","メイリオ","Meiryo",sans-serif;

  &__content-right{
    width: 700px;
    margin: 0 auto;
  }
  &__content-top{
    &__item-box{
      background-color: #fff;
      padding:24px 40px 40px;
      &__name{
        text-align: center;
        font-weight: bold;
        font-size: 24px;
      }
      &__body{
        margin-top: 16px;
        .photo-line-ul{
          display: flex;
          position: relative;
        }
        .photo-line-li{
          display: flex;
          flex-direction: column;
          width: 450px;
          height: 450px;
          align-items:center;
          margin:0 auto;
          position: relative;
          .photo-line-li__sold{
            width: 0;
            height: 0;
            border-width: 120px 120px 0 0;
            border-color: #ea352d transparent transparent transparent;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            border-style: solid;
            &__inner{
              top: -90px;
              font-size: 30px;
              position: absolute;
              left: 0;
              z-index: 2;
              color: #fff;
              transform: rotate(-45deg);
              letter-spacing: 2px;
              font-weight: 600;
            }
          }
        }
        .photo-big{
          object-fit: cover;
          height: 100%;
          width: 100%;
          vertical-align: bottom;
        }
        .photo-line-ul-under{
          display: flex;
          justify-content: center;
          margin-top:10px;
        }
        .photo-small{
          object-fit: cover;
          height: 87px;
          width: 100%;
          vertical-align: bottom;
        }
        .photo-line-li-under{
          width: 25%;
          margin:0 10px 0 0;
        }
      }
      &__pricebox{
        margin: 24px 0 24px;
        text-align: center;
        display: flex;
        flex-direction:column;
        &__price{
          font-size: 46px;
          font-weight: bold;
          margin:0 10px 0 0;
        }
        &__detail{
          font-size: 16px;
        }
      }
      &__item-detail{
        line-height: 1.5;
        font-size: 18px;
        margin-bottom: 30px;
        text-align: center;
      }
      &__table{
        margin-bottom: 20px;
        table{
          width:100%;
          height: 375px;
          border-collapse:collapse;
        }
        tbody{
          display: table-row-group;
          vertical-align: middle;
          border-color:inherit;
        }
        tr{
          display: table-row;
          vertical-align: inherit;
          border-color: inherit;
        }
        th{
          width: 20%;
          background-color: #eee;
          font-weight: 400;
          padding:8px;
          border:1px solid #dedede;
          font-size: 14px;
          text-align:center;
        }
        td{
          width:61%;
          padding:15px 15px;
          border:1px solid #dedede;
          font-size:14px;
        }
        .kategori{
          text-decoration:none;
          color: #3CCACE;
        }
        .tiiki{
          text-decoration: none;
          color:#3CCACE;
        }
      }
      &__area{
        display: flex;
        justify-content: space-between;
        ul{
          margin:10px 0 0;
          display: flex;
        }
        &__btn-left{
          &__link{
            display: inline-block;
            margin-right: auto;
            padding: 6px 10px;
            border-radius: 40px;
            color: #3CCACE;
            border:1px solid #ffb340;
            font-size: 14px;
            a{
              color: #3CCACE
            }
          }
        }
        &__optional{
          &__btn-right{
            &__link{
              border-radius: 3px;
              font-size: 14px;
              border:1px solid black;
              padding: 6px 10px;
              text-decoration: none;
              color: black;
              display: inline-block;
            }
          }
        }
      }
    }
    &__btn-box {
      padding-top: 48px;
      background-color: #fff;
      margin: 10px 0;
      text-align: center;
      .btn {
        @include showBtn(#3CCACE)
        
      }
      .btn--gray {
        @include showBtn(gray)
      }

    }
    &__comment-box{
      padding: 0.1px 40px 25px;
      background-color: #fff;
      margin: 10px 0;
      text-align: center; 
      p{
        font-weight: normal;
        font-size: xx-small;
      }
      &__coments{
        list-style: none;
        &__input{
          font-family: inherit;
          font-size: inherit;
          font-weight: inherit;
        }
        &__textarea{
          width: 100%;
          min-height: 104px;
          padding:10px;
        }
        &__p{
          padding: 8px;
          font-size: 14px;
          background-color: #f8f8f8;
          margin: 0 0 15px;
          text-align:left;
        }
        &__button{
          margin: 20px 0 0;
          line-height: 48px;
          background: #3CCACE;
          border: 1px solid #3CCACE;
          color:#fff;
          width: 60%;
          font-size: 18px;
          border-radius: 100px;
          vertical-align: middle;
        }
        h4{
          margin-top: 20px;
        }
      }
    }
  }
  &__links{
    list-style: none;
    display: flex;
    justify-content: space-between;
    &__left-btn{
      text-decoration: none;
      color: #3CCACE;
    }
    &__right-btn{
      text-decoration: none;
      color: #3CCACE;
    }
  }
  &__related-items{
    &__link{
      display: block;
      margin:24px 0 8px;
      text-decoration: none;
      font-weight:bold;
      position:relative;
      font-size: 22px;
      color: #3CCACE;
    }
  }
}

.show-main__content-top__message{
  margin-bottom: 35px;
  &__box{
    height: 100px;
    margin: 10px 0 25px;
    &__kaiwa {
      height: 10px;
      &__clearfix-messages{
        &__name{
          text-align: right;
          a{
            height: 10px;
            display: block;
            font-size: 16px;
            color: #3CCACE;
            font-weight: bold;
            margin-bottom: 11px;
          }
        }
        &__img-right{
          margin: 0;
          width: 40px;
          float: right;
          margin-left: -70px;
          &__description{
            margin-top: -5px;
            img {
              margin: 0;
              width: 100%;
              height: 100%;
              margin-top: 5px;
              border-radius: 50%;
              border: 1px solid #aaa;
            }
          }
        }
        &__text{
          float: right;
          width: 560px;
          padding: 15px;
          font-size: 8px;
          position: relative;
          border-radius: 15px;
          word-break: break-all;
          margin: 0 60px 0 0;
          background-color: rgb(165,230,165);
          &__right{
            margin: 0;
            padding: 0;
            width: 100%;
            height: 15px;
            text-align: left;
            display: inline-block;
            &__:last-child {
              margin-bottom: 0;
            }
          }
          &__day{
            display: flex;
            display: block;
            margin-top: 13px;
            text-align: left;
            position: relative;
            color: rgb(51, 51, 51);
            #i:before{
              top: -30px;
              left: -12px;
              display: block;
              font-size: 17px;
            }
            .btn{
              right: 1px;
              top: 0.1rem;
              font-size: 16px;
              text-align: right;
              position: absolute;
              padding-bottom: 20px;
              color: rgb(51, 51, 51);
            }
          }
          :before {
            content: '';
            right: -20px;
          }
          :after {
            content: '';
            top: 12px;
            right: -20px;
            position: absolute;
            border: 10px solid transparent;
            border-left: 10px solid rgb(165,230,165);
          }
        }

        &__user{
          height: 10px;
          text-align: left;
          a{
            display: block;
            font-size: 16px;
            color: #3CCACE;
            font-weight: bold;
            padding-left: 9px;
          }
        }
        &__img-left{
          margin: 0;
          float: left;
          width: 40px;
          margin-right: -70px;
          &__description{
            margin-top: -1px;
            img {
              margin: 0;
              width: 100%;
              height: 100%;
              border-radius: 50%;
              border: 1px solid #aaa;
            }
          }
          &__text{
            width: 560px;
            padding: 15px;
            font-size: 8px;
            margin: 0 0 0 60px;
            position: relative;
            border-radius: 15px;
            word-break: break-all;
            background-color: rgb(223,242,252);
            &__left{
              margin: 0;
              padding: 0;
              height: 15px;
              display: inline-block;
              &__:last-child {
                margin-bottom: 0;
              }
            }
            &__time{
              display: block;
              margin-top: 13px;
              position: relative;
              color: rgb(51, 51, 51);
              .i {
                content: '';
                top: -30px;
                left: -12px;
                display: block;
                font-size: 17px;
              }
              .alt{
                right: 0px;
                top: 0.2rem;
                font-size: 16px;
                text-align: right;
                position: absolute;
                padding-bottom: 20px;
                color: rgb(51, 51, 51);
              }
            }
            :before {
              content: '';
              left: -20px;
            }
            :after {
              content: '';
              top: 12px;
              left: -20px;
              position: absolute;
              border: 10px solid transparent;
              border-right: 10px solid rgb(223,242,252);
            }
          }
        }
      }
    }
  }
}

