body {
  background-color: #f8f8f8;
}


.user-show-header{
  // 部分テンプレートを使用する
  width: 100%;
  height: 100px;
  background-color: red;
  font-size: 30px;
  text-align: center;
}

.user-show{
  padding: 40px;
}

.user-show-page{
    margin: 0 auto ;
    width:1020px;
  &__main{
    // メインページ
    width: 700px;
    float: right;
    background-color: #eee;
    &__icon{
      // アイコン部分
      position: relative;
      height: 200px;
      position: 20px;
      background-image: url(yu-za-haimen.jpeg);
      background-repeat: no-repeat;
      background-size: cover;
      text-align: center;
      &__link{
        display: block;
        position: absolute;
        top: 50%;
        left:0;
        right:0;
        transform:translate(0,-50%);
        color:#333;
        text-decoration: none;
        color: black;
        figure{
          overflow: hidden;
          width: 60px;
          height: 60px;
          margin: 0 auto;
          border-radius: 50%;
        }
        &__photo{
          vertical-align: middle;
        }
        &__name{
          margin-top: 8px;
          font-size:14px;
          font-weight: 600;
          line-height:1.4;
        }
        &__situation{
          margin-top:8px;
          font-size: 0;
          font-size: 14px;
          div{
            display: inline-block;
          }
          span{
            margin-left: 8px;
            font-size: 16px;
            font-weight: 600;
          }
          .good-sukima{
            margin: 0 0 0 16px;
          }

        }
      }
    }
    &__todo{
      &__top-tabs{
        width: 100%;
        // height: 10vh;
        background-color: white;
        text-align: center;
        line-height: 10vh;
        font-size: 16px;
      }
      &__under-tabs{
        display: block;
        width: 100%;
        // height: 59.5vh;
        background-color:ghostwhite;
        font-size: 14px;
      }
    }
  }

  &__side{
    // サイドページ
    float: left;
    width: 280px;
    // height: 100vh;
    &__box{
      &__setting-top{
        margin:30px 0 0 30px;
        font-size: 18px;
      }
      &__setting-list{
        padding: 10px;
        li{
          margin: 5px 0;
        }
        &__item{
          display: block;
          width: 100%;
          height: 60px;
          background-color: white;
          text-decoration: none;
          color: black;
          font-size: 14px;
          padding-left: 10px;
          line-height: 60px;
        }
      }
    }
  }
}

.clearfix::after {
  content: "";
  clear: both;
  display: block;
}

.user-show-footer{
  // 部分テンプレートを使用する
  width: 100%;
  height: 100px;
  background-color: red;
  font-size: 30px;
  text-align: center;
}