.user-credit-detail-header{
  width: 100%;
  height: 100px;
  background-color: red;
  font-size: 30px;
  text-align: center;
}

.user-credit-detail{
  padding: 40px;
}

.user-credit-detail-page{
    margin: 0 auto ;
    width:1020px;
  &__main{
    // メインページ
    width: 700px;
    float: right;
    background-color: #fff;
    &__top{
      font-size: 24px;
      padding: 8px 24px;
      border-bottom: 1px solid #f5f5f5;
      text-align: center;
      line-height: 1.4;
      font-weight: 700;
    }
    &__form{
      padding:40px 40px 64px;
      border-top: 1px solid #f5f5f5;
      &__list{
        max-width: 343px;
        margin: 0 auto;
        &__card-box{
          margin: 0;
          &__tag-name{
            font-weight: 600;
            display: inline-block;
          }
          &__required{
            display: inline-block;
            background: #ea352d;
            margin: 0 0 0 8px;
            padding: 2px 4px;
            border-radius: 2px;
            color: white;
            font-size: 12px;
            vertical-align: top;
          }
          &__input{
            width: 100%;
            margin:8px 0 0;
            height: 48px;
            padding:10px 16px 8px;
            border-radius: 4px;
            border:1px solid #ccc;
            background: #fff;
            font-size: 16px;
          }
          &__ul{
            margin-top: 8px;
            font-size: 0;

            li{
              margin: 0;
              display: inline-block;
            }
            img{
              width: 40px;
              height: 20px;
            }
          }
        }

        &__expiration-date{
          margin-top: 24px;
          &__tag-name{
            font-weight: 600;
            display: inline-block;
          }
          &__required{
            display: inline-block;
            background: #ea352d;
            margin: 0 0 0 8px;
            padding: 2px 4px;
            border-radius: 2px;
            color: #fff;
            font-size: 12px;
            vertical-align: top;
          }
          &__days{
            display: flex;
            &__month-box{
              display: flex;
              width: calc(50% - 2px);
              margin-top: 8px;
              position: relative;
              background: #fff;
              &__months{
                width: calc(100% - 38px);   
                position: relative;
                z-index:2;
                height: 48px;
                padding: 0 16px;
                border-radius: 4px;
                border:1px solid #ccc;
                background: 0;
                font-size:16px;
                line-height: 1.5;
                cursor:pointer;
              }
              &__icon{
                margin:0 6px 0 -15px;
                position: relative;
                font-size: 10px;
                pointer-events: none;
              } 
              &__letter{
                text-align: center;
                padding-left: 5px;
                line-height: 48px;
              }           
            }
            &__year-box{
              display: flex;
              width: calc(50% - 2px);
              margin-top: 8px;
              position: relative;
              background: #fff;
              &__years{
                width: calc(100% - 38px);             
                position: relative;
                z-index:2;
                height: 48px;
                padding: 0 16px;
                border-radius: 4px;
                border:1px solid #ccc;
                background: 0;
                font-size:16px;
                line-height: 1.5;
                cursor:pointer;
              }
              &__icon{
                margin:0 6px 0 -15px;
                position: relative;
                font-size: 10px;
                pointer-events: none;
              }
              &__letter{
                text-align: center;
                padding-left: 5px;
                line-height: 48px;
              }           
            }
          }
        }

        &__security-codo{
          // セキュリティコード
          margin-top: 24px;
          &__tag-name{
            font-weight: 600;
            display: inline-block;
          }
          &__required{
            display: inline-block;
            background: #ea352d;
            margin: 0 0 0 8px;
            padding: 2px 4px;
            border-radius: 2px;
            color: #fff;
            font-size: 12px;
            vertical-align: top;

          }
          &__input{
            width: 100%;
            margin-top:8px;
            height: 48px;
            padding:10px 16px 8px;
            border-radius:4px;
            border:1px solid #ccc;
            background: #fff;
            line-height: 1.5;
            font-size: 16px;
          }
        }    
        &__link{
          padding:24px 0;
          border-bottom:1px solid #eee;
          &__btn{
            max-width:320px;
            margin: 0 auto;
            &__red{
              background: #ea352d;
              border:1px solid #ea352d;
              color:#fff;
              display: block;
              width: 100%;
              line-height: 48px;
              font-size: 14px;
              cursor:pointer;
              text-align: center;
              text-decoration: none;
              line-height: 48px;
              font-size: 14px;
              &__icon{
                font-family: 'icon-font';
                padding-right: 10px;
                font-size: 1.3em;
              }
            }
          }
        }
      }
    }
  }
  

  &__side{
    // サイドページ
    float: left;
    width: 280px;
    &__box{
      &__setting-top{
        margin:30px 0 0 30px;
        font-size: 16px;
        font-weight: 700;
      }
      &__setting-list{
        padding: 10px;
        li{
          margin: 5px 0;
        }
        &__item{
          display: block;
          width: 100%;
          height: 60px;
          background-color: white;
          text-decoration: none;
          color: black;
          font-size: 14px;
          padding-left: 10px;
          line-height: 60px;
        }
      }
    }
  }
}

.clearfix::after {
  content: "";
  clear: both;
  display: block;
}

.user-credit-detail-footer{
  width: 100%;
  height: 100px;
  background-color: red;
  font-size: 30px;
  text-align: center;
}