.user-logout-header{
  // 部分テンプレートを使用する
  width: 100%;
  height: 100px;
  background-color: red;
  font-size: 30px;
  text-align: center;
}

.user-logout{
  padding: 40px;
}

.user-logout-page{
    margin: 0 auto ;
    width:1020px;
  &__main{
    // メインページ
    width: 700px;
    float: right;
    background-color: #eee;
    &__box{
      margin:0;
      background-color: #fff;
      &__link{
        padding:64px;
        &__btn{
          max-width:320px;
          margin: 0 auto;
          &__red{
            background: #ea352d;
            border:1px solid #ea352d;
            color:#fff;
            display: block;
            cursor: pointer;
            text-align: center;
            margin: 0 auto;
            width: 100%;
            line-height: 48px;
            font-size: 14px;
            text-decoration: none;
          }
        }
      }
    }
  }

  &__side{
    // サイドページ
    float: left;
    width: 280px;
    &__box{
      &__setting-top{
        margin:30px 0 0 30px;
        font-size: 16px;
        font-weight: 700;
      }
      &__setting-list{
        padding: 10px;
        li{
          margin: 5px 0;
        }
        &__item{
          display: block;
          width: 100%;
          height: 60px;
          background-color: white;
          text-decoration: none;
          color: black;
          font-size: 14px;
          padding-left: 10px;
          line-height: 60px;
        }
      }
    }
  }
}

.clearfix::after {
  content: "";
  clear: both;
  display: block;
}

.user-logout-footer{
  width: 100%;
  height: 100px;
  background-color: red;
  font-size: 30px;
  text-align: center;
}