.app-banner
  .app-banner__box
    %p.app-banner__box--title だれでもかんたん、人生を変えるフリマアプリ
    %p.app-banner__box--text 今すぐ無料ダウンロード!
    .link-box
      = link_to 'App link', "#", class:"link-box--link"
      = link_to 'google link', "#", class:"link-box--link"