.app-banner
  .app-banner__box
    %p.app-banner__box--title だれでもかんたん、人生を変えるフリマアプリ
    %p.app-banner__box--text 今すぐ無料ダウンロード!
    .link-box
      = link_to '', "#", class: "app-link", style: "display:inline-block;overflow:hidden;background:url(https://linkmaker.itunes.apple.com/ja-jp/badge-lrg.svg?releaseDate=2012-06-28&kind=iossoftware&bubble=ios_apps)"
      = link_to image_tag('https://play.google.com/intl/en_us/badges/static/images/badges/ja_badge_web_generic.png', width: '155'), "#"