.logo-box
  = link_to image_tag("logo.png", width:'130', alt:'ロゴ')
.back
  .back__image-box
    .back__image-box__flex
      .back__image-box__flex__text
        出品画像
      .back__image-box__flex__label
        必須
    .back__image-box__limit
      最大10枚までアップロードできます
    .back__image-box__new-image
      .back__image-box__new-image__input
        =form_with() do |f|
          .back__image-box__new-image__input__file
            -# = f.file_field :image, class: "back__image-box__new-image__input__file"
              -# = f.label :image, class: 'back__image-box__new-image__input__file__camera' do
              = image_tag('icon_camera.png', class: 'icon', width: '30')
          .back__image-box__new-image__input__p
            ドラッグアンドドロッップ
            .br
            またはクリックしてファイルをダウンロード
    .back__image-box__errer
      -# 画像がありません

  .back__product-name
    .back__product-name__flex
      .back__product-name__flex__text
        商品名
      .back__product-name__flex__label
        必須
    .back__product-name__title
      =form_with() do |t|
        .back__product-name__title__content
          = t.text_field :content, class: 'product-name__title__content', placeholder: '40文字まで'
    .back__product-name__Introduction
      .back__product-name__Introduction__frame
        .back__product-name__Introduction__frame__text
          商品の説明
        .back__product-name__Introduction__frame__label
          必須
      .back__product-name__Introduction__frame__content
        =form_with() do |t|
          = t.text_field :content, class: 'product-name__Introduction__frame__content', placeholder: '商品の説明 (1000文字以内) (色、素材、重さ、定価、注意点など)'
        .back__product-name__Introduction__text-limit
          .back__product-name__Introduction__text-limit__math
            0/1000
  .back__details-box
    .back__details-box__title
      商品詳細
    .back__details-box__flex
      .back__details-box__flex__text
        カテゴリー
      .back__details-box__flex__label
        必須   
      .back__details-box__frame
        .back__details-box__frame__form
    %select{name:"sample", placeholder:"選択してください"}
      %option{:value => "0"}  --
      %option{:value => "1"} メンズ
      %option{:value => "2"} レディース
      %option{:value => "3"} ベビー・キッズ
      %option{:value => "4"} インテリア・住まい・小物
    .back__details-box__status
      .back__details-box__status__flex
        .back__details-box__status__flex__text
          商品の状態
        .back__details-box__status__flex__label
          必須
        .back__details-box__status__flex__flame
          .back__details-box__status__flex__flame__form
      %select{name:"sample", placeholder:"選択してください"}
        %option{:value => "0"}  --
        %option{:value => "1"} 新品
        %option{:value => "2"} 未使用に近い
        %option{:value => "3"} 傷物
        %option{:value => "4"} 状態が悪い
  .back__delivery-box
    
  .back__price-box
  .back__post-box
.footer