%header.show-header
  ヘッダーは部分テンプレート使用。現在未作成。
  %br
  右下にある出品マークについても部分テンプレート？
.show-main
  .show-main__content-left
  .show-main__content-right
    .show-main__content-top

      .show-main__content-top__item-box
        %h2.show-main__content-top__item-box__name
          product2
        .show-main__content-top__item-box__body
          %ul.photo-line-ul
            %li.photo-line-li
              = image_tag '/assets/a004.png', alt: '', class: 'photo-big'
              %ul.photo-line-ul-under
                %li.photo-line-li-under
                  = image_tag '/assets/a004.png', alt: '', class: 'photo-small'
                %li.photo-line-li-under
                  = image_tag '/assets/a005.png', alt: '', class: 'photo-small'
                %li.photo-line-li-under
                  = image_tag '/assets/a006.png', alt: '', class: 'photo-small'
        .show-main__content-top__item-box__pricebox
          %span.show-main__content-top__item-box__pricebox__price
            ¥20000
          .show-main__content-top__item-box__pricebox__detail
            %span
              (税込)
            %span
              送料込み
        .show-main__content-top__item-box__item-detail
          親譲りの無鉄砲で小供の時から損ばかりしている。小学校に居る時分学校の二階から飛び降りて一週間ほど腰を抜かした事がある。なぜそんな無闇をしたと聞く人があるかも知れぬ。別段深い理由でもない。新築の二階から首を出していたら、同級生の一人が冗談に、いくら威張っても、そこから飛び降りる事は出来まい。弱虫やーい。と囃したからである。小使に負ぶさって帰って来た時、おやじが大きな眼をして二階ぐらいから飛び降りて腰


        .show-main__content-top__item-box__table
          %table
            %tbody
              %tr
                %th
                  出品者
                %td
                  hoge
                %tr
                  %th
                    カテゴリー
                  %td
                    =link_to "#",class:"kategori" do
                      メンズ
                    =link_to "#",class:"kategori"  do
                      ジャケット/アウター
                    =link_to "#",class:"kategori"  do
                      ノーカラージャケット
                %tr
                  %th
                    ブランド
                  %td
                    ユニクロ
                %tr
                  %th
                    商品サイズ
                  %td
                    ｓ
                %tr
                  %th
                    商品の状態
                  %td
                    新品/未使用
                %tr
                  %th
                    配送料の負担
                  %td
                    着払い（購入者負担）
                %tr
                  %th
                    配送元の地域
                  %td
                    =link_to "#",class:"tiiki" do
                      青森
                %tr
                  %th
                    配送日の目安
                  %td
                    1-2日で発送
        .show-main__content-top__item-box__area
          %ul
            =link_to "#",class:"show-main__content-top__item-box__area__optional__btn-left" do
              %li#linke-btn.show-main__content-top__item-box__area__btn-left__link
                %icon.fa.fa-star
                お気に入り 0
          %ul.show-main__content-top__item-box__area__optional
            =link_to "#",class:"show-main__content-top__item-box__area__optional__btn-right" do
              %li.show-main__content-top__item-box__area__optional__btn-right__link
                %icon.fa.fa-flag              
                不適切な商品の通報

      .show-main__content-top__comment-box
        %ul.show-main__content-top__comment-box__coments
        =form_with(class:"show-main__content-top__comment-box__coments__form") do
          %input.show-main__content-top__comment-box__coments__input{name:"utf8",type:"hidden",value:""}
          %input.show-main__content-top__comment-box__coments__input{name:"authenticity",type:"hidden",value:""}
          %textarea.show-main__content-top__comment-box__coments__textarea{reurierd:"",name:"comment"}
          %P.show-main__content-top__comment-box__coments__p
            相手のことを考え丁寧なコメントを心がけましょう。
            %br
            不快な言葉遣いなどは利用制限や退会処分となることがあります。
            %br
          %button.show-main__content-top__comment-box__coments__button{name:"button",type:"submit"}
            %icon.fa.fa-comment
            コメント
      

    %ul.show-main__links
      %li
        =link_to "#",class:"show-main__links__left-btn" do
          %icon.fa.fa-angle-left
          %span
            前の商品
      %li
        =link_to "#",class:"show-main__links__right-btn" do
          
          %span
            次の商品
          %icon.fa.fa-angle-right
    .show-main__related-items
      =link_to "#",class:"show-main__related-items__link" do
        メンズをもっと見る
      .product-lists

%footer.show-footer
  フッターは部分テンプレート使用。現在未作成。