%header.show-header
  ヘッダーは部分テンプレート使用。現在未作成。
  %br
  右下にある出品マークについても部分テンプレート？
%div.show-main
  %div.show-main__content-left
  %div.show-main__content-right
    %div.show-main__content-top

      %div.show-main__content-top__item-box
        %h2.show-main__content-top__item-box__name
          product2
        %div.show-main__content-top__item-box__body
          %ul.photo-line-ul
            %li.photo-line-li
              = image_tag '/assets/a004.png', alt: '', class: 'photo-big'
              %ul.photo-line-ul-under
                %li.photo-line-li-under
                  = image_tag '/assets/a004.png', alt: '', class: 'photo-small'
                %li.photo-line-li-under
                  = image_tag '/assets/a005.png', alt: '', class: 'photo-small'
                %li.photo-line-li-under
                  = image_tag '/assets/a006.png', alt: '', class: 'photo-small'
        %div.show-main__content-top__item-box__pricebox
          %span.show-main__content-top__item-box__pricebox__price
            ¥20000
          %div.show-main__content-top__item-box__pricebox__detail
            %span
              (税込)
            %span
              送料込み
        %div.show-main__content-top__item-box__item-detail
          親譲りの無鉄砲で小供の時から損ばかりしている。小学校に居る時分学校の二階から飛び降りて一週間ほど腰を抜かした事がある。なぜそんな無闇をしたと聞く人があるかも知れぬ。別段深い理由でもない。新築の二階から首を出していたら、同級生の一人が冗談に、いくら威張っても、そこから飛び降りる事は出来まい。弱虫やーい。と囃したからである。小使に負ぶさって帰って来た時、おやじが大きな眼をして二階ぐらいから飛び降りて腰

