=render "header"
.user-logout
  .user-logout-page.clearfix
    -# 全体
    .user-logout-page__main
      -# メインページ
      .user-logout-page__main__box

        .user-logout-page__main__box__link
          .user-logout-page__main__box__link__btn   
            =link_to sign_out_path, class:"user-logout-page__main__box__link__btn__red" do
              ログアウト

    =render "t_user_show_sidebar"
=render "footer"

