= render 'items/header'
.mypage-main
  =render "users/sidebar"
  .mypage-main__right
    .mypage-main__right__title
      支払い方法
    .mypage-main__right__content
      = render 'form'
      .mypage-main__right__content__explain
        %i.fas.fa-chevron-right
        = link_to '支払い方法について', '#'
= render 'items/footer'