= render 'items/header'
.container-fluid
  .row.py-5.w-100
    -# = render 'items/_t_user_show_sidebar.html.haml'
    .mypage-main.col-9
      %h2.header_title
        支払い方法
      .single-container
        .rgs-main__section
          = render "cards/form"
        .payment-explain
          %i.fas.fa-chevron-right
          = link_to '支払い方法について', '#'
= render 'items/footer'