@import "reset";
@import "users/registrations_new";
@import "users/sessions_new";
@import "items/index";
@import "items/new";
@import "items/show";
@import "items/edit.scss";
@import "items/buy";
@import "items/t_user_show";
@import "items/t_user_logout";
@import "items/t_user_credit_link";
@import "items/t_user_credit_detail";


@import "font-awesome-sprockets";
@import "font-awesome";
* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
body {
  background-color: #f8f8f8;
}
