@import "reset";
@import "users/registrations_new";
@import "users/sessions_new";
@import "items/index";
@import "items/new";
@import "items/show";
@import "items/edit";
@import "items/buy";
@import "users/show";
@import "users/logout";
@import "cards/form";
@import "cards/cards";
@import "categories/index";
@import "categories/show";
@import "font-awesome-sprockets";
@import "font-awesome";
* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
body {
  background-color: #f8f8f8;
}
.notification{
  background-color: yellow;
  font-family: serif;
  text-align: center;
}

.breadcrumbs-box{
  background-color: #ffffff;
  border-top: solid 1px #c0c0c0;
  box-shadow: 0px 9px 3px -3px rgba(0,0,0,0.6);
  -webkit-box-shadow: 0px 9px 3px -3px rgba(0,0,0,0.6);
  -moz-box-shadow: 0px 9px 3px -3px rgba(0,0,0,0.6);
  margin-bottom: 50px;
  .breadcrumbs-list{
    width: 100%;
    max-width: 1040px;
    margin: 0 auto;
    height: 40px;
    a{
      background-color: #4fcfd2;
      border-radius: 10px;
      line-height: 40px;
      padding: 3px;
      font-size: 14px;
      color: #ffffff;
    }
    .current{
      background-color: #4fcfd2;
      border-radius: 10px;
      line-height: 30px;
      padding: 3px;
      font-size: 14px;
      color: #ffffff;
    }
  }
}